<%- include("partials/header") %>/
<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">


		 <div class="col-md-9 col-lg-9">
      	 <div class="profile-content">
				<div class="wrapper">

				<div class="right">
					<div class="info">
						<h3>
							About
						</h3>
						<div  class="info_data">
							<div class="data">
								<h4>
									Prefered Activities
								</h4>
								<p>
									-Reading
								</p>
								<p>
									-Studying
								</p>
								<div class="data">
									<h4>
										placeholder
									</h4>
									<p>
										placeholder
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
					<div class="projects">
						<h3 class="right">
							Recent Anchievements
						</h3>
						<div  class="projects_data">
							<div class="data">
								<div class="row">
									<div class="column">
										<div class="card">
										<img class="card-img-top" src="https://www.psychologyofgames.com/wp-content/uploads/2016/07/cheevo-icon.jpg">
										<div class="card-body">
										<h5 class="card-title">Anchievement</h5>
										<p class="card-text">Awarded to  for completing the task given
										</p>
										</div>
									</div>
								</div>


									<div class="column">
										<div class="card">
										<img class="card-img-top" src="https://static.planetminecraft.com/files/resource_media/screenshot/left-the-couch-achievement-unlocked-pinback-button-ref192ff2.jpg">
										<div class="card-body">
										<h5 class="card-title">Left-the-couch</h5>
										<p class="card-text">Awarded to  for leaving the couch
										</p>
										</div>
									</div>
								</div>


								</div>
							</div>
					   </div>
					</div>
				</div>
            </div>
		</div>
	</div>
</div>
<center>

</center>

<%- include("partials/footer") %>
